#include <zephyr/dt-bindings/input/input-event-codes.h> /* For input keys */

/* GPIO pinouts differ from printed names on circuit, check Adafruit's pinouts */

/ {
    chosen {
        zephyr,display = &oled;
    };

    /* Using documented gpio-keys */
    buttons {
        compatible = "gpio-keys";
        rot_left {
                gpios = <&gpio0 8 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>; /* D12 */
                zephyr,code = <INPUT_BTN_X>;
        };
        rot_right {
                gpios = <&gpio0 6 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>; /* D11 */
                zephyr,code = <INPUT_BTN_Y>;
        };
        btn_right {
                gpios = <&gpio0 28 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>; /* A3 */
                zephyr,code = <INPUT_BTN_DPAD_RIGHT>;
        };
        btn_left {
                gpios = <&gpio0 30 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>; /* A2 */
                zephyr,code = <INPUT_BTN_DPAD_LEFT>;
        };
        btn_down {
                gpios = <&gpio0 5 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>; /* A1 */
                zephyr,code = <INPUT_BTN_DPAD_DOWN>;
        };
        btn_up {
                gpios = <&gpio0 4 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>; /* A0 */
                zephyr,code = <INPUT_BTN_DPAD_UP>;
        };
        btn_start {
                gpios = <&gpio0 2 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>; /* A4 */
                zephyr,code = <INPUT_BTN_START>;
        };
        btn_power {
                gpios = <&gpio0 3 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>; /* A5 */
                zephyr,code = <INPUT_KEY_POWER>;
        };
    };
};

/* Pinouts we use come from the GPIO names in the pinout post that Adafruit made. */

&feather_spi {
    status = "okay";
    cs-gpios = <&gpio0 27 GPIO_ACTIVE_LOW>;          /* D10 */
    
    /* Built this up based on SSD1306 arduino descriptor found on ssd1306_128x64_spi.overlay */
    oled: ssd1309@0 {
        compatible = "solomon,ssd1306";
        reg = <0x0>;
        spi-max-frequency = <8000000>;
        width = <128>;
        height = <64>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <63>;
        segment-remap;
        com-invdir;
        prechargep = <0x22>;
        data-cmd-gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>;  /* D9 */
        reset-gpios = <&gpio0 7 GPIO_ACTIVE_LOW>;       /* D6 */
    };
};

&adc {
	#address-cells = <1>;
	#size-cells = <0>;

	channel@5 {
		reg = <5>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 10)>;
		zephyr,input-positive = <NRF_SAADC_AIN5>; /* P0.29 = A6 = AIN5 */
		zephyr,resolution = <12>;
                zephyr,oversampling = <6>;
	};
};

&gpio0 { sense-edge-mask = <0xffffffff>; };
        
&gpio1 { sense-edge-mask = <0xffffffff>; };