#include <zephyr/dt-bindings/input/input-event-codes.h> /* For input keys */

/* GPIO pinouts differ from printed names on circuit, check Adafruit's pinouts */

/ {
    chosen {
        zephyr,display = &oled;
    };

    /* Using documented gpio-keys */
    buttons {
        compatible = "gpio-keys";
        rot_left {
                gpios = <&gpio0 8 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>; /* D12 */
                zephyr,code = <INPUT_BTN_X>;
        };
        rot_right {
                gpios = <&gpio0 6 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>; /* D11 */
                zephyr,code = <INPUT_BTN_Y>;
        };
        move_right {
                gpios = <&gpio0 28 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>; /* A3 */
                zephyr,code = <INPUT_BTN_DPAD_RIGHT>;
        };
        move_left {
                gpios = <&gpio0 30 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>; /* A2 */
                zephyr,code = <INPUT_BTN_DPAD_LEFT>;
        };
        move_down {
                gpios = <&gpio0 5 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>; /* A1 */
                zephyr,code = <INPUT_BTN_DPAD_DOWN>;
        };
        move_up {
                gpios = <&gpio0 4 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>; /* A0 */
                zephyr,code = <INPUT_BTN_DPAD_UP>;
        };
    };
};

/* Pinouts we use come from the GPIO names in the pinout post that Adafruit made. */

&feather_spi {
    status = "okay";
    cs-gpios = <&gpio0 27 GPIO_ACTIVE_LOW>;          /* D10 */
    
    /* Built this up based on SSD1306 arduino descriptor found on ssd1306_128x64_spi.overlay */
    oled: ssd1309@0 {
        compatible = "solomon,ssd1306";
        reg = <0x0>;
        spi-max-frequency = <8000000>;
        width = <128>;
        height = <64>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <63>;
        segment-remap;
        com-invdir;
        prechargep = <0x22>;
        data-cmd-gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>;  /* D9 */
        reset-gpios = <&gpio0 7 GPIO_ACTIVE_LOW>;       /* D6 */
    };
};